h1 New Message
form(action="/", method="POST")
  label(for 'name') Name: 
  input(type="text", name="name" required)
  p
    label(for 'message') Message: 
    input(type="text", name="message" required)
  p
    input(type="submit")